# https://git-lfs.github.com/
*.a         eol=crlf
libs/mysql_connector_arm_static/lib64/libmysqlcppconn8-static.a filter=lfs diff=lfs merge=lfs -text
libs/mysql_connector_arm_static/lib64/ filter=lfs diff=lfs merge=lfs -text
